body {
  margin: 0;
}
#seed {
  position: fixed;
  bottom: 15px;
  right: 15px;
}
.far.fa-newspaper {
  font-size: 4em;
  color: #FF8A65;
  &.logged-in {
    font-size: 2.2em;
    color: #FF8A65;
    margin-top: 13px;
  }
}

#close-shadowbox {
  position: absolute;
  color: white;
  font-size: 2em;
  top: 15px;
  right: 15px;
  &:hover {
    cursor: pointer;
  }
}

#close-alert {
  position: absolute;
  right: 15px;
  top: 12px;
  color: #333;
  &:hover {
    cursor: pointer;
  }
}

.container {
  margin: 0 auto;
  max-width: 80%;
}
.shadowbox {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  background-color: rgba(0, 0, 0, 0.9);
}

.header-container {
  width: 100%;
  text-align: center;
  min-height: 400px;
  padding-top: 100px;
  box-sizing: border-box;
  .header-left {
    box-sizing: border-box;
    display: inline-block;
    text-align: center;
    width: 100%;
  }
  .header-right {
    box-sizing: border-box;
    display: inline-block;
    text-align: center;
    width: 100%;
  }
  .header {
    margin-top: 0;
    font-family: 'Lato', sans-serif;
    font-size: 2.6em;
    color: #3a3a3a;
  }
  .header-2 {
    margin-top: 10px;
    vertical-align: top;
    font-family: 'Lato', sans-serif;
    display: inline-block;
    color: #3a3a3a;
  }
}

.auth-actions-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 120px;
  margin: 0 5px;
  padding: 10px 0;
  text-transform: uppercase;
  font-family: 'Roboto', sans-serif;
  font-size: 0.9em;
  background-color: #eaeaea;
  color: #333;
  border: none;
  transition: .2s;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
  &:hover {
    cursor: pointer;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2);
    -ms-transform: translate(-2px, -2px); /* IE 9 */
    -webkit-transform: translate(-2px, -2px); /* Safari */
    transform: translate(-2px, -2px);
  }
  &:active, &:focus {
    outline: none;
  }
}

.auth-form-container {
  width: 80%;
  height: 500px;
  margin: 0 auto;
  text-align: center;
  margin-top: 40px;
  .auth-form-header {
    color: white;
    font-family: 'Lato', 'sans-serif';
  }
  .auth-form {
    text-align: left;
    input {
      display: block;
      height: 32px;
      width: 188px;
      padding-left: 15px;
      background: none;
      border: solid 2px white;
      border-radius: 18px;
      color: white;
      font-size: 16px;
      font-family: 'Lato', sans-serif;
      font-weight: 300;
      &:focus {
        outline: none;
      }
    }
    label {
      display: block;
      color: white;
      font-family: 'Lato', 'sans-serif';
      font-weight: 300;
      margin: 5px 0;
    }
    #sign-up-action, #login-action {
      margin: 25px auto 0 auto;
      width: 120px;
      height: 36px;
      border-radius: 0;
      background-color: #FF8A65;
      border: none;
      padding: 9px 0 10px 0;
      text-transform: uppercase;
      font-family: 'Roboto', sans-serif;
      transition: .2s;
      &:hover {
        cursor: pointer;
        box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2);
        -ms-transform: translate(-2px, -2px); /* IE 9 */
        -webkit-transform: translate(-2px, -2px); /* Safari */
        transform: translate(-2px, -2px);
      }
    }
  }
}

.piece-form-container {
  width: 80%;
  height: 100%;
  margin: 0 auto;
  text-align: center;
  margin-top: 40px;
  .piece-form-header {
    color: white;
    font-family: 'Lato', 'sans-serif';
  }
  .piece-form {
    text-align: left;
    input,
    textarea {
      display: block;
      box-sizing: border-box;
      height: 32px;
      width: 300px;
      padding-left: 15px;
      background: none;
      border: solid 2px white;
      border-radius: 18px;
      color: white;
      font-size: 16px;
      font-family: 'Lato', sans-serif;
      font-weight: 300;
      &:focus {
        outline: none;
      }
    }

    textarea {
      height: 100px;
      padding-top: 5px;
      padding-bottom: 10px;
    }
    label {
      display: block;
      color: white;
      font-family: 'Lato', 'sans-serif';
      font-weight: 300;
      margin: 5px 0;
    }
    #create-piece-action,
    #update-piece-action {
      margin: 25px auto 0 auto;
      width: 120px;
      height: 36px;
      border-radius: 0;
      background-color: #EC407A;
      border: none;
      padding: 10px 0 10px 0;
      text-transform: uppercase;
      font-family: 'Roboto', sans-serif;
      font-size: 0.9em;
      transition: .2s;
      &:hover {
        cursor: pointer;
        box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2);
        -ms-transform: translate(-2px, -2px); /* IE 9 */
        -webkit-transform: translate(-2px, -2px); /* Safari */
        transform: translate(-2px, -2px);
      }
    }
  }
}

.piece-button-container {
  display: block;
  text-align: center;
}
.piece-update-button,
.piece-delete-button {
  margin: 25px auto 0 auto;
  width: 120px;
  height: 36px;
  border-radius: 0;
  border: none;
  padding: 10px 0 10px 0;
  text-transform: uppercase;
  font-family: 'Roboto', sans-serif;
  font-size: 0.9em;
  transition: .2s;
  color: white;
  &:hover {
    cursor: pointer;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2);
    -ms-transform: translate(-2px, -2px); /* IE 9 */
    -webkit-transform: translate(-2px, -2px); /* Safari */
    transform: translate(-2px, -2px);
  }
}

.piece-update-button {
  background-color: #5c6bc0;
}
.piece-delete-button {
  background-color: #ef5350;
}

.form-wrapper {
  display: inline-block;
}
.alert-success {
  position: fixed;
  top: 0;
  padding-top: 10px;
  height: 30px;
  width: 100%;
  background-color: rgba(41, 187, 156, 0.5);
  vertical-align: top;
  display: none;
  text-align: center;
  p {
    margin-top: 0;
    font-family: "Lato", sans-serif;
  }
}

.alert-error {
  display: none;
  margin: 0 auto;
  color: #ef5350;
  font-family: 'Lato', sans-serif;
  text-align: center;
  p {
    margin-top: 0;
  }
}
#current-user-avatar {
  display: inline-block;
  width: 30px;
  height: 30px;
  border-radius: 15px;
}

#current-user-username {
  display: inline-block;
  font-family: 'Lato', sans-serif;
  vertical-align: top;
  margin-top: 5px;
  font-size: 1em;
}

.piece {
  display: inline-block;
  width: 300px;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2);
  font-family: 'Lato', sans-serif;
  border: solid 1px #eaeaea;
  border-radius: 4px;
  margin-bottom: 20px;
  vertical-align: top;
  .piece-info-container {
    position: absolute;
    box-sizing: border-box;
    width: 100%;
    bottom: 0;
    color: white;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 15px;
    opacity: 0;
    transition: .4s;
  }
  .piece-image {
    position: relative;
    width: 100%;
    height: 300px;
    background-size: cover;
    box-sizing: border-box;
  }
  .piece-title {
    color: white;
    max-width: 300px;
    margin-bottom: 0;
    text-align: left;
    font-size: 1.2em;
  }
  .piece-tagline {
    text-align: left;
  }
  .piece-username {
    text-align: right;
  }

  &:hover {
    cursor: pointer;
    .piece-info-container {
      opacity: 100;
    }
  }
}

.piece-full-image {
  display: block;
  margin: 60px auto 20px auto;
  width: 80%;
}

.piece-full-title,
.piece-full-artist,
.piece-full-username,
.piece-full-body {
  width: 80%;
  margin: 0 auto;
  font-family: 'Lato', sans-serif;
  color: white;
  text-align: center;
}

.piece-full-username {
  margin-top: 10px;
  font-weight: 300;
}

.piece-full-body {
  font-weight: 400;
}


.column-33 {
  display: inline-block;
  width: 100%;
  text-align: center;
}
.pieces {
  text-align: center;
}
.piece-action-button-row {
  text-align: center;
}

#create-piece {
  background-color: #EC407A;
  color: white;
}

.piece-action-button {
  margin: 0 15px 20px 0;
  -webkit-appearance: none;
  padding: 7px 12px;
  font-size: 0.8em;
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  border: none;
  transition: .2s;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
  &:hover {
    cursor: pointer;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2);
    -ms-transform: translate(-2px, -2px); /* IE 9 */
    -webkit-transform: translate(-2px, -2px); /* Safari */
    transform: translate(-2px, -2px);
  }
  &:active, &:focus {
    outline: none;
  }
}
@media (min-width: 750px) {
  .container {
    width: 960px;
  }
  .header-container {
    .header-left {
      width: 49%;
      text-align: left;
    }
    .header-right {
      width: 49%;
      text-align: right;
    }
  }

  .piece-full-image {
    display: block;
    height: 50%;
    width: auto;
  }
  .auth-form-container,
  .column-33 {
    width: 40%;
  }
  .piece-full-body,
  .piece-form-container {
    width: 50%;
  }
  .piece-action-button-row {
    text-align: right;
  }
}
@media (min-width: 960px) {
  .column-33 {
    width: 33%;
  }
}
