body {
  margin: 0;
}
.far.fa-newspaper {
  font-size: 4em;
  color: #FF8A65;
}

#close-shadowbox {
  position: absolute;
  color: white;
  font-size: 2em;
  top: 15px;
  right: 15px;
  &:hover {
    cursor: pointer;
  }
}

#close-alert {
  position: absolute;
  right: 15px;
  top: 12px;
  color: #333;
  &:hover {
    cursor: pointer;
  }
}

.container {
  margin: 0 auto;
  max-width: 80%;
}

.shadowbox {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  background-color: rgba(0, 0, 0, 0.9);
}

.header-container {
  width: 100%;
  text-align: center;
  min-height: 400px;
  padding-top: 100px;
  .header {
    margin-top: 0;
    font-family: 'Lato', sans-serif;
    font-size: 2.6em;
    font-weight: 400;
    color: #333;
  }
}

.auth-actions-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 120px;
  margin: 0 5px;
  padding: 10px 0;
  text-transform: uppercase;
  font-family: 'Roboto', sans-serif;
  font-size: 0.9em;
  background-color: #f7f7f7;
  color: #333;
  border: none;
  transition: .2s;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
  &:hover {
    cursor: pointer;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2);
    -ms-transform: translate(-2px, -2px); /* IE 9 */
    -webkit-transform: translate(-2px, -2px); /* Safari */
    transform: translate(-2px, -2px);
  }
  &:active, &:focus {
    outline: none;
  }
}

.auth-form-container {
  width: 80%;
  height: 500px;
  margin: 0 auto;
  text-align: center;
  margin-top: 40px;
  .auth-form-header {
    color: white;
    font-family: 'Lato', 'sans-serif';
  }
  .auth-form {
    text-align: left;
    input {
      display: block;
      height: 32px;
      width: 188px;
      padding-left: 15px;
      background: none;
      border: solid 2px white;
      border-radius: 18px;
      color: white;
      font-size: 16px;
      font-family: 'Lato', sans-serif;
      font-weight: 300;
      &:focus {
        outline: none;
      }
    }
    label {
      display: block;
      color: white;
      font-family: 'Lato', 'sans-serif';
      font-weight: 300;
      margin: 5px 0;
    }
    #sign-up-action, #login-action {
      margin: 25px auto 0 auto;
      width: 120px;
      height: 36px;
      border-radius: 0;
      background-color: #FF8A65;
      border: none;
      padding: 9px 0 10px 0;
      text-transform: uppercase;
      font-family: 'Roboto', sans-serif;
      transition: .2s;
      &:hover {
        cursor: pointer;
        box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2);
        -ms-transform: translate(-2px, -2px); /* IE 9 */
        -webkit-transform: translate(-2px, -2px); /* Safari */
        transform: translate(-2px, -2px);
      }
    }
  }
}

.form-wrapper {
  display: inline-block;
}
.alert-success {
  position: fixed;
  top: 0;
  padding-top: 10px;
  height: 30px;
  width: 100%;
  background-color: rgba(41, 187, 156, 0.5);
  vertical-align: top;
  display: none;
  p {
    margin-top: 0;
    font-family: "Lato", sans-serif;
  }
}
@media (min-width: 750px) {
  .container {
    width: 960px;
  }

  .auth-form-container {
    width: 40%;
  }
}
